body,
html {
  height: 100%;
}

.cuong {
  font-family: "Permanent Marker", cursive;
  font-size: 100px;
}

/* The hero image */
.masthead {
  background-image: url("../../assets/images/grayscale-photography-of-trees-1529881.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

h1 {
  text-align: center;
}

img {
  height: 45%;
  width: 45%;
  padding: 7%;
}

.navbar a {
  background-color: transparent;
  transition: background-color 0.2s linear;
  color: white;
}

.navbar.solid {
  background-color: gray !important;
  transition: background-color 0.2s linear;
  box-shadow: 0 0 4px black;
}
.about {
  animation-delay: 3.5s;
}
.projects {
  animation-delay: 3.3s;
}
.contact {
  animation-delay: 3s;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 320px) {
  .mr-auto {
    margin-left: auto !important;
  }
  .navbar-dark .navbar-toggler {
    margin-left: auto;
  }
}
